<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gAttack__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{3135,3152},{289,485}}</string>
				<key>offset</key>
				<string>{-73,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2846,3152},{289,488}}</string>
				<key>offset</key>
				<string>{-81,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1851,0},{312,491}}</string>
				<key>offset</key>
				<string>{-101,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,2135},{491,490}}</string>
				<key>offset</key>
				<string>{16,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3158},{487,482}}</string>
				<key>offset</key>
				<string>{18,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2135},{514,472}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1623},{512,476}}</string>
				<key>offset</key>
				<string>{6,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2649},{509,476}}</string>
				<key>offset</key>
				<string>{7,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3645},{394,474}}</string>
				<key>offset</key>
				<string>{-39,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gAttack__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,3101},{367,480}}</string>
				<key>offset</key>
				<string>{-33,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>
			<key>gDead__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2878,1427},{292,494}}</string>
				<key>offset</key>
				<string>{-116,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,1105},{322,462}}</string>
				<key>offset</key>
				<string>{-92,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,2626},{386,454}}</string>
				<key>offset</key>
				<string>{-54,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,3080},{435,384}}</string>
				<key>offset</key>
				<string>{-18,-59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2343,1906},{475,315}}</string>
				<key>offset</key>
				<string>{-8,-83}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,314},{491,324}}</string>
				<key>offset</key>
				<string>{-2,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,2705},{479,319}}</string>
				<key>offset</key>
				<string>{-16,-115}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2232,312},{479,319}}</string>
				<key>offset</key>
				<string>{-16,-115}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,3419},{479,319}}</string>
				<key>offset</key>
				<string>{-16,-115}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gDead__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,3419},{479,319}}</string>
				<key>offset</key>
				<string>{-16,-115}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>
			<key>gIdle__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2845,0},{289,500}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{3345,0},{288,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,3364},{286,499}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2974,1719},{285,498}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{3534,593},{284,497}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2846,3640},{283,496}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{3783,877},{284,497}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2982,2217},{285,498}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2669,2866},{286,499}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gIdle__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3203,890},{288,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,500}</string>
			</dict>
			<key>gJump__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{3179,289},{304,473}}</string>
				<key>offset</key>
				<string>{17,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2342,0},{293,503}}</string>
				<key>offset</key>
				<string>{-3,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{3424,3020},{289,476}}</string>
				<key>offset</key>
				<string>{-25,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{3572,2427},{288,475}}</string>
				<key>offset</key>
				<string>{-25,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{3647,3496},{288,475}}</string>
				<key>offset</key>
				<string>{-25,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{3713,3009},{288,475}}</string>
				<key>offset</key>
				<string>{-25,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2711,293},{309,468}}</string>
				<key>offset</key>
				<string>{-36,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3624,2715},{294,460}}</string>
				<key>offset</key>
				<string>{-21,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{3168,2715},{305,456}}</string>
				<key>offset</key>
				<string>{-19,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3267,2215},{305,456}}</string>
				<key>offset</key>
				<string>{-19,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>
			<key>gJump_Attack__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2374,2381},{298,485}}</string>
				<key>offset</key>
				<string>{-76,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2531,631},{288,503}}</string>
				<key>offset</key>
				<string>{-85,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2273,3409},{287,500}}</string>
				<key>offset</key>
				<string>{-89,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1623},{465,515}}</string>
				<key>offset</key>
				<string>{15,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1082},{465,510}}</string>
				<key>offset</key>
				<string>{15,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1082},{483,541}}</string>
				<key>offset</key>
				<string>{6,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{485,541}}</string>
				<key>offset</key>
				<string>{5,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,541},{485,541}}</string>
				<key>offset</key>
				<string>{5,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,0},{314,515}}</string>
				<key>offset</key>
				<string>{-60,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Attack__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,2626},{371,475}}</string>
				<key>offset</key>
				<string>{-32,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>
			<key>gJump_Throw__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,2284},{310,459}}</string>
				<key>offset</key>
				<string>{10,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{3572,2127},{300,460}}</string>
				<key>offset</key>
				<string>{5,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2658,1827},{316,457}}</string>
				<key>offset</key>
				<string>{-2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1352},{355,456}}</string>
				<key>offset</key>
				<string>{-20,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,451},{361,452}}</string>
				<key>offset</key>
				<string>{-20,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,0},{365,451}}</string>
				<key>offset</key>
				<string>{-20,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,903},{362,449}}</string>
				<key>offset</key>
				<string>{-17,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2040,2568},{334,450}}</string>
				<key>offset</key>
				<string>{-2,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{3545,1674},{306,453}}</string>
				<key>offset</key>
				<string>{8,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gJump_Throw__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3342,3637},{305,457}}</string>
				<key>offset</key>
				<string>{7,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>
			<key>gRun__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,0},{335,486}}</string>
				<key>offset</key>
				<string>{12,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,3556},{332,504}}</string>
				<key>offset</key>
				<string>{8,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,451},{327,501}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,3080},{360,476}}</string>
				<key>offset</key>
				<string>{-8,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,2088},{363,481}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,811},{334,481}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,3515},{329,501}}</string>
				<key>offset</key>
				<string>{7,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,1292},{323,486}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2418,1502},{325,460}}</string>
				<key>offset</key>
				<string>{4,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gRun__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,335},{341,476}}</string>
				<key>offset</key>
				<string>{9,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,520}</string>
			</dict>
			<key>gSlide__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,314},{394,395}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,2310},{392,395}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,1778},{390,395}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,1116},{388,395}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2057,1116},{386,396}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,3024},{385,396}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2145,709},{386,396}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,1511},{388,395}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,2173},{390,395}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gSlide__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,3024},{392,395}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>
			<key>gThrow__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{3491,890},{292,485}}</string>
				<key>offset</key>
				<string>{31,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{3372,1389},{285,497}}</string>
				<key>offset</key>
				<string>{10,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,805},{311,501}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,3645},{363,500}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2915,919},{288,500}}</string>
				<key>offset</key>
				<string>{-42,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{3034,602},{288,500}}</string>
				<key>offset</key>
				<string>{-42,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2381,2866},{288,498}}</string>
				<key>offset</key>
				<string>{-41,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,2569},{328,503}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,1808},{315,502}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
			<key>gThrow__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3259,1719},{286,496}}</string>
				<key>offset</key>
				<string>{16,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{4084,4094}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4084</integer>
			<key>height</key>
			<integer>4094</integer>
		</dict>
	</dict>
</plist>