<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Attack__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2329,2107},{286,435}}</string>
				<key>offset</key>
				<string>{-78,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,2474},{276,437}}</string>
				<key>offset</key>
				<string>{-83,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,1761},{296,439}}</string>
				<key>offset</key>
				<string>{-102,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{3530,0},{489,438}}</string>
				<key>offset</key>
				<string>{23,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{3530,438},{493,430}}</string>
				<key>offset</key>
				<string>{21,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2533,0},{527,420}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,0},{527,423}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,0},{527,423}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{3003,461},{416,422}}</string>
				<key>offset</key>
				<string>{-46,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Attack__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3425,868},{381,430}}</string>
				<key>offset</key>
				<string>{-36,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{536,495}</string>
			</dict>
			<key>Dead__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,2353},{232,450}}</string>
				<key>offset</key>
				<string>{-105,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2699},{264,433}}</string>
				<key>offset</key>
				<string>{-101,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2352,878},{334,430}}</string>
				<key>offset</key>
				<string>{-63,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,775},{377,368}}</string>
				<key>offset</key>
				<string>{-27,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{3556,2072},{417,298}}</string>
				<key>offset</key>
				<string>{-15,-80}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,2207},{434,279}}</string>
				<key>offset</key>
				<string>{-8,-93}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,2353},{440,257}}</string>
				<key>offset</key>
				<string>{-12,-102}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,2358},{440,257}}</string>
				<key>offset</key>
				<string>{-12,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2224,2542},{440,257}}</string>
				<key>offset</key>
				<string>{-12,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Dead__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,2798},{440,257}}</string>
				<key>offset</key>
				<string>{-12,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,498}</string>
			</dict>
			<key>Idle__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,2803},{232,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3132},{231,438}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2481,2871},{229,438}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,3238},{228,437}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,3100},{227,436}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2187,3420},{226,435}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,3327},{227,436}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2919,2948},{228,437}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2224,2982},{229,438}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Idle__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2481,2640},{231,438}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,439}</string>
			</dict>
			<key>Jump__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1485},{282,437}}</string>
				<key>offset</key>
				<string>{23,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2072,1533},{266,461}}</string>
				<key>offset</key>
				<string>{7,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{3840,2370},{253,433}}</string>
				<key>offset</key>
				<string>{-11,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,2610},{253,432}}</string>
				<key>offset</key>
				<string>{-12,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,2641},{253,432}}</string>
				<key>offset</key>
				<string>{-12,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,2911},{253,432}}</string>
				<key>offset</key>
				<string>{-12,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,2521},{274,425}}</string>
				<key>offset</key>
				<string>{-2,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2338,1806},{301,420}}</string>
				<key>offset</key>
				<string>{-10,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1473},{329,412}}</string>
				<key>offset</key>
				<string>{-11,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,1095},{329,412}}</string>
				<key>offset</key>
				<string>{-11,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,483}</string>
			</dict>
			<key>Jump_Attack__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,2178},{296,412}}</string>
				<key>offset</key>
				<string>{-70,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,2057},{296,411}}</string>
				<key>offset</key>
				<string>{-70,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2291},{299,408}}</string>
				<key>offset</key>
				<string>{-72,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{3060,0},{470,461}}</string>
				<key>offset</key>
				<string>{17,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2533,420},{470,458}}</string>
				<key>offset</key>
				<string>{17,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,0},{489,489}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,0},{494,489}}</string>
				<key>offset</key>
				<string>{5,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{496,489}}</string>
				<key>offset</key>
				<string>{4,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{3003,877},{338,462}}</string>
				<key>offset</key>
				<string>{-70,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Attack__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3341,1249},{374,409}}</string>
				<key>offset</key>
				<string>{-31,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{504,522}</string>
			</dict>
			<key>Jump_Throw__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{3748,2803},{297,415}}</string>
				<key>offset</key>
				<string>{18,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,2113},{301,408}}</string>
				<key>offset</key>
				<string>{20,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,1900},{307,400}}</string>
				<key>offset</key>
				<string>{22,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,1424},{337,399}}</string>
				<key>offset</key>
				<string>{10,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1141},{344,399}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,808},{351,399}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1124},{349,399}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3680,1751},{321,400}}</string>
				<key>offset</key>
				<string>{15,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1885},{303,406}}</string>
				<key>offset</key>
				<string>{21,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Jump_Throw__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3336,2715},{300,412}}</string>
				<key>offset</key>
				<string>{20,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,431}</string>
			</dict>
			<key>Run__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,489},{326,431}}</string>
				<key>offset</key>
				<string>{16,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,774},{321,448}}</string>
				<key>offset</key>
				<string>{11,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,489},{319,444}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,423},{351,420}}</string>
				<key>offset</key>
				<string>{-6,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,423},{352,425}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,815},{326,425}}</string>
				<key>offset</key>
				<string>{16,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,489},{321,446}}</string>
				<key>offset</key>
				<string>{10,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,1143},{314,429}}</string>
				<key>offset</key>
				<string>{5,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2792,1636},{316,403}}</string>
				<key>offset</key>
				<string>{7,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Run__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1159},{326,420}}</string>
				<key>offset</key>
				<string>{16,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,458}</string>
			</dict>
			<key>Slide__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,1994},{364,343}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{3119,2260},{362,343}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{3195,1915},{361,345}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{3481,2370},{359,345}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,1485},{356,346}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1831},{354,347}}</string>
				<key>offset</key>
				<string>{9,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1767},{356,346}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2977,2603},{359,345}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2758,1952},{361,345}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Slide__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2615,2297},{362,343}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,351}</string>
			</dict>
			<key>Throw__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,2946},{257,425}}</string>
				<key>offset</key>
				<string>{37,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2110,1095},{240,438}}</string>
				<key>offset</key>
				<string>{26,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{314,444}}</string>
				<key>offset</key>
				<string>{18,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,1457},{303,443}}</string>
				<key>offset</key>
				<string>{-29,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2350,1212},{299,443}}</string>
				<key>offset</key>
				<string>{-28,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2793,1339},{297,443}}</string>
				<key>offset</key>
				<string>{-27,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2350,1511},{295,442}}</string>
				<key>offset</key>
				<string>{-25,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3750,1305},{323,446}}</string>
				<key>offset</key>
				<string>{18,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{3236,1623},{292,444}}</string>
				<key>offset</key>
				<string>{33,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
			<key>Throw__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3855,868},{241,437}}</string>
				<key>offset</key>
				<string>{29,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,451}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>